@charset "UTF-8";
body {
  -webkit-font-smoothing: auto;
}

/*     :var(--c);    */

:root {
  --bg1: #fff;
  --bg2: #ff0;
  --c: #0f0;
}

.theme-light {
  /* 通常の背景色 */
  --background-primary: #c4c0c0;
  /* コードブロックの色 */
  --background-primary-alt: var(--c);
  /* inactive状態のヘッダーや右下のバー、UIのラインや別タブなど */
  --background-secondary: var(--bg2);
  /* active状態のヘッダーや */
  --background-secondary-alt: #080;
  --background-modifier-border: #f00;
  --background-modifier-border-focus:#00f;
  --background-modifier-hover: #0ff;
  --background-modifier-border-focus: #088;
  --background-modifier-border-hover: #0cc;
  .inline-title {
      color: #f00;
    }
}
